<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Github OAuth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:30px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text">
        <h1>Autenticação</h1>
        <p>Faça seu login pelo:</p>
        <a href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>" class="btn btn-primary"><span class="fa fa-github"></span> Github Login</a>
    </div>
</div>
</body>
</html>